.img-upload {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: skyBlue;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
}


.img-upload [type=file] {
    cursor: pointer;
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
    height: 200px;
}

.close-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
}

.blue {
    background-color: blue;
}